body {
  font-family: 'Poppins', san-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

text {
  box-sizing: border-box;
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
}

.btn-sign-in {
  border-radius: 4px;
  min-width: 105px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.btn-sign-up {
  background-color: #02897a;
  border: 1px solid #02897a;
  min-width: 113px;
  border-radius: 4px;
  color: #fffff;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

img {
  display: block;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 237px;
  gap: 16px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 93%;
  color: #173a56;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav,
.header-btn-list {
  display: flex;
  align-items: center;
}

.header-btn-list {
  margin-left: auto;
  display: flex;
  gap: 21px;
  margin-top: 19px;
  margin-bottom: 19px;
}

.btn-sign-in {
  border: 1px solid #bcd0e5;
  background-color: transparent;
  text-align: center;
  padding: 0;
  color: #fff;
}

.nav-list {
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: 73px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.link-nav {
  display: block;
  font-family: 'Poppins', san-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.current {
  font-weight: 600;
}

.hero {
  margin-right: 35px;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  line-height: 60px;
  max-width: 452px;
  margin-bottom: 18px;
}

.hero-text {
  font-size: 18px;
  line-height: 156%;
  max-width: 462px;
  margin-bottom: 45px;
}

.hero-btn-list {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  min-width: 164px;
  margin-bottom: 112px;
}

.hero-btn-item-start {
  border: 1px solid #02897a;
  background-color: #02897a;
  border-radius: 4px;
}

.get-started {
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding: 15px 41px;
}

.watch-video {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: transparent;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-img-container {
  max-width: 610px;
}
